body {
    background-color: #E9E9E9;
}

header {
    border: 1px solid black;
    border-radius: 10px;
    height: 65px;
    background-color: white;
}

.cart-button{
    display: block;
    float: right;
    margin: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
    background-color: #5C036E;
    width: 212px;
    height: 45px;
    border-radius: 22px;
    border-style: none;
    cursor: pointer;

}

.cart-button:hover {
    background-repeat: no-repeat;
    background-position: 173px 16px;
    box-shadow: 0px 3px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.goods-list{
    display: inline-block;
    margin-top: 20px;
}

.goods-item{
    border-radius: 10px;
    float: left;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 5px;
    width: 150px;
    height: 200px;
    background-color: white;
}
.goods-item img {
    margin-top: 20px;
    margin-left: 20px;
    height: 80px;
    width: 110px;
    align-content: center;

}

.goods-item h3{
    text-align: center;
    margin: 5px;
}

.goods-item p{
    margin: 0px;
    text-align: center;
}

.goods-item button {
    margin-left:30px;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.5px;
    background-color: #18AF44;
    width: 90px;
    height: 25px;
    border-radius: 22px;
    border-style: none;
    cursor: pointer;
}


.goods-item button:hover {
    box-shadow: 0px 3px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}